@import "../../../variables";

#home {
  article {
    padding: 20px 100px 20px 100px;
    text-align: center;
    background-color: $primary-green;
    color: $light;
    display: grid;
    place-items: center;
    .hero-head {
      
      display: grid;
      place-items: center;
      h1,
      h3 {
        font-family: "MarkaziText", sans-serif;
        font-weight: 400;
      }

      h1 {
        color: $primary-yellow;
        font-size: 50px;
      }

      h3 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
        margin-top: 20px;
        line-height: 150%;
      }
      button {
        margin-top: 60px;
      }
    }

    > img {
      width: 250px;
      height: 300px;
      margin: 20px 0 -50px 0;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 767px){
  #home{
    article {
      padding: 20px 0 20px 0;
      grid-template-columns: repeat(2,1fr);
      text-align: left;
      place-items: start;
      gap: 0 10%;
      .hero-head {
        place-items: start;
        place-self: center end;
        width: 270px; 
        h1 {
          font-size: 60px;
        }
  
        h3 {
          font-size: 40px;
        }
        button {
          margin-top: 20px;
        }
      }
  
      > img {
        width: 270px;
        height: 400px; 
        place-self: start;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #home{
    article {
      gap: 0 15%;
      .hero-head {
        width: 300px; 
      }
  
      > img {
        width: 370px;
        height: 470px;

      }
    }
  }
}
