@import "./variables";

@font-face {
  font-family: Karla;
  src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: MarkaziText;
  src: url("./assets/fonts/MarkaziText/MarkaziText-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla";
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
