$primary-green: #495e57;
$primary-yellow: #f4ce14;
$secondary-medium-orange: #ee9972;
$secondary-light-orange: #fbdabb;
$light: #edefee;
$dark: #333333;

@font-face {
  font-family: Karla;
  src: url("assets/fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: MarkaziText;
  src: url("assets/fonts/MarkaziText/MarkaziText-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla";
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px calc(100% - 40px);
  padding: 30px;
  position: absolute;
  width: 100vw;
  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    place-self: center end;
    img {
      height: 35px;
      width: 35px;
    }
  }
  nav {
    grid-column: 1 / 3;
    ul {
      margin-top: 100px;
      list-style: none;
      text-align: center;
      padding: 0;
      li {
        margin-bottom: 30px;
        a {
          
          text-transform: capitalize;
          text-decoration: none;
          margin-bottom: 30px;
          font-size: 30px;
          color: black;
        }
      }
      li:last-child {
        margin: 0;
      }
    }
  }
}

.non-collapsed{
  .open-nav-button{
    display: block;
  }
  .close-nav-button{
    display: none;
  }
}

.collapsed{
  position: fixed;
  height: 100vh;
  .open-nav-button{
    display: none;
  }
  .close-nav-button{
    display: block;
  }
} 

main{
  section{
    padding: 100px 0;
  }
  #home{
    article{
      padding: 20px 100px;
      text-align: center;
      background-color: $primary-green;
      color: $light;
      display: grid;
      place-items: center;
      h1,h3{
        font-family: 'MarkaziText';
        font-weight: 400;
      }
      h1{
        color: $primary-yellow;
        font-size: 50px; 
      }
      h3{
        font-size: 30px;
      }
      p{
        font-size: 20px;
        margin-top: 20px;
        line-height: 150%;
      }
      button{
        margin-top: 20px;
        background-color: $primary-yellow;
        border: none;
        cursor: pointer;
        width: 160px;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        padding: 0 10px;
      }
      > img{
        width: 250px;
        height: 300px;
        transform: translateY(60px);
        border-radius: 10px;
      }
    }
  }
}
